{% extends 'base.html.twig' %}

{% block title %}Liste des employés{{ parent() }}{% endblock %}

{% block body %}
    <header>
        <div id="current-user"></div>
        <div id="title-page">
            <h1>Équipe</h1>
        </div>
    </header>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div id="content">
        <table id="team-container">
            <thead>
            <tr>
                <th>Prénom, Nom</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for employee in employees %}
            <tr>
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            {{ employee.initials }}
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employee.firstname }} {{ employee.name }}</strong>
                            <span>{{ employee.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employee.status.value }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path('app_employee_edit', {id: employee.id}) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="{{ path('app_employee_delete', {id: employee.id}) }}" onclick="return confirm('Confirmer la suppression ?')">
                        Supprimer
                    </a>
                </td>
            </tr>
            {% else %}
                <tr>
                <td>Aucun enregistrement en base de données</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}
