<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %} - TaskLinker{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer"/>
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    {% endblock %}

    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}

    {% block javascripts %}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    {% endblock %}
</head>
<body>
<div id="main-container">
    <nav>
        <a href="{{ path('app_home') }}" id="logo">
            <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker"/>
        </a>
        <ul id="main-menu">
            <li class="{{ (app.request.attributes.get('_route') starts with 'app_project' or app.request.attributes.get('_route') starts with 'app_task' or app.request.attributes.get('_route') == 'app_home') ? 'active' }}">
                <a href="{{ path('app_project_index') }}">
                    <i class="fa-solid fa-list-check"></i> Projets
                </a>
            </li>
            <li class="{{ app.request.attributes.get('_route') starts with 'app_employee' ? 'active' }}">
                <a href="{{ path('app_employee_index') }}">
                    <i class="fa-regular fa-user"></i> Équipe
                </a>
            </li>
        </ul>
    </nav>
    <main>
        {% block body %}{% endblock %}
    </main>
</div>
</body>
</html>
